@import "../../common.scss";

.Footer {
  background-color: $secondaryColor;
  width: 94%;
  padding: 8px 3%;
  box-shadow: 0 -0.0625rem 0.125rem 0 rgba(0,0,0,.2);
  color: $mainTextColor;
  display: flex;
  justify-content: flex-start;

  &--space {
    justify-content: space-between;
  }

  &--fixed {
    position: fixed;
    bottom: 0;
  }
}